* { box-sizing: border-box; }

html {
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    display: flex;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
    box-sizing: border-box;
  }
  
.navbar {
    background: #fff;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 5px 80px;
    justify-content: space-between;
    box-sizing: border-box;
    height: 80px;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    padding: 0 0 0 80px;
}

.navbar li a {
    text-decoration: none;
}

.navbar h4 {
    color: #001d5d;
    margin: 0;
    line-height: 40px;
}

.link {
    display: flex;
}

.icon {
    padding-right: 6px;
}

button {
    width: 150px;
    height: 40px;
    background-color: #d9f0d0;
    border-style: none;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: bold;
    color: #68c242;
    margin: 0;
    transition: 0.3s;
}

button:hover {
    background-color: #58c242;
    color: #ffffff;
    cursor: pointer;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 65px;
    letter-spacing: 0.73px;
    line-height: 76px;
    color:#ffffff;
    margin: 0 0 6px 0;
}

h2 {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 50px;
    color: #001d5d;
    margin-top: 0;
    margin-bottom: 14px;
}

h3 {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #001d5d;
    margin-top: 0;
    margin-bottom: 8px;
}

h4 {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 6px;
    text-transform: uppercase;
}

.navbar li h4 {
    text-transform: capitalize;
}

p {
    margin-top: 0;
}

.nav {
    display: flex;
}

.logo {
    object-fit: contain;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;  /*adds scroll to this container*/
}

@keyframes pulse {
    0%   { background-size: 100% auto; }
    50% { background-size: 140% auto; }
    100% { background-size: 100% auto; }
}

.hero {
    width: 100vw;
    height: 600px;
    animation: pulse 30s linear infinite;
    background: url(../images/image1.png) top center no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    margin-top: 80px;
}

.hero-text {
    margin: auto 80px;
}

.hero-text p {
    color: white;
    width: 50%;
}

.play a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-content: flex-start;
    margin-top: 30px;
}

.watch {
    padding-left: 20px;
    line-height: 40px;
}

.spotlight {
    padding: 100px 80px 120px 80px;
    background-color: #ffffff;
}

.spotlight-inner {
    display: flex;
    align-content: flex-start;
}

.spotlight-text {
    width: 40%;
    max-width: 500px;
}

.spotlight-text p {
    color: #525252;
}

.spotlight-text button {
    margin-top: 20px;
}

.spot-img {
    margin: 0 40px 0 0;
    height: auto;
    width: 500px;
    background: url(../images/image2.png) center center no-repeat;
    background-size: auto 100%;
}

.new-releases {
    display: flex;
    background-color: #f6f6f6;
    justify-content: center;
}

.new-releases-inner {
    width: 40%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.carousel {
    background-color: #f6f6f6;
}

.carousel-cell {
    width: 600px;
    height: 308px;
    border-radius: 5px;
    display: flex;
    align-content: center;
    padding: 14px;
    background-color: #f6f6f6;
    margin: 0px;
}

.carousel-cell img {
    align-self: center;
}

.carousel-cell h4 {
    color: #68c242;
}

.shadow-box {
    box-shadow: 0px 0px 20px 2px #cccccc;
    display: flex;
    align-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #ffffff;
}

.carousel-img {
    display:flex;
    align-content: center;
    background-color: #f6f6f6;
    padding: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.carousel-text {
    padding: 30px;
}

.carousel-controller {
    display: flex;
    height: 136px;
    justify-content: center;
    background-color: #f6f6f6;
}

.button {
    margin: 20px 20px 60px 20px;
}

.button:hover {
    cursor: pointer;
}

#map {
    width: 100%;
    height: 560px;
    background-color: #f6f6f6;
  }

.form {
    display: flex;
}

.form-text {
    padding: 80px;
    width: 60%;
}

.form-img {
    width: 40%;
    height: 740px;
    background: url(../images/image3.png) center bottom no-repeat;
    background-size: cover;  
}

.form-group {
    display: flex;
}

.form-group .input-control {
    flex: 1 1 auto;
    display: block;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 25px;
    font-weight: bold;
    background-color: #eeeeee;
    border: none;
    padding: 12px 20px;
    margin-top: 40px;
    margin-right: 40px;
  }

.form button {
    margin-top: 50px;
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    background: url(../images/dropdown_triangle.svg) no-repeat 92% 50%;   /* add custom arrow */
 }

 .footer {
     background-color: #001d5d;
     color: #ffffff;
     padding: 80px 80px 20px 80px;
 }

 .footer-nav {
     display: flex;
     justify-content: space-between;
     padding-bottom: 60px;
     border-bottom: 1px solid #ffffff;
 }

 .footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

 .footer-nav a {
     text-decoration: none;
     color: #ffffff;
 }
 
 .address-logo {
     height: 37px;
     margin-bottom: 20px;
 }

 .footer-bottom {
     padding-top: 20px;
     display: flex;
     justify-content: space-between;
 }

 .footer-bottom a {
     text-decoration: none;
     color: #ffffff;
     font-weight: bold;
 }

 .social {
    justify-self: flex-end;
    width: 200px;
    display: flex;
    justify-content: space-between;
 }

 .legal a {
     margin-right: 40px;
 }

@media screen and (max-width: 1439px) {
    .navbar li {
        padding: 0px 0 0 40px;
    }
  }

@media screen and (max-width: 1128px) {
    .navbar li {
        padding: 0px 0 0 20px;
    }
    .navbar {
        padding: 5px 40px;
    }
    .hero-text {
        margin: auto 40px;
    }
    .spotlight {
        padding: 60px 40px 80px 40px;
    }
    .new-releases-inner {
        width: 50%;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .form-group {
        flex-direction: column;
    }
    .form-text {
        padding: 40px;
        width: 50%;
    }
    .form-img {
        width: 50%;
        height: 860px; 
    }
}

  @media screen and (max-width: 930px) {
    .navbar {
        height: 120px;
    }
    .nav {
        flex-wrap: wrap;
        padding-left: 20px;
    }
    .nav button {
        width: 90px;
        height: 30px;
    }
    .nav h4 {
        font-size: 14px;
    }
    .hero-text h1{
        font-size: 50px
    }
    
    .spotlight-inner {
        flex-wrap: wrap;
    }
    .spotlight-text {
        width: 60%;
        max-width: none;
    }
    .spotlight-text p {
        color: #525252;
    }
    .spotlight-text button {
        margin-top: 20px;
    }
    .spot-img {
        margin: 0 0 20px 0;
        height: 300px;
        width: 60%;
        background: url(../images/image2.png) left center no-repeat;
        background-size: cover;
    }
    .new-releases {
        display: flex;
        background-color: #f6f6f6;
    }
    .new-releases-inner {
        width: 60%;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 30px;
        padding-right: 100px;
    }
    .carousel-cell {
        width: 520px;
    }
    .carousel-controller {
        justify-content: flex-start;
        padding-left: 180px;
    }
    .form-group {
        flex-direction: column;
    }
    .form-group .input-control {
        margin-right: 0px;
      }
    .form-text {
        padding: 40px;
        width: 50%;
    }
    .form-img {
        width: 50%;
        height: 900px; 
    }
    .footer {
        padding: 40px 40px 10px 40px;
        font-size: 12px;
        line-height: 14px;
    }
    .footer-nav {
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
    .footer-nav ul {
        margin-right: 10px;
        margin-bottom: 20px;
     }
    .legal a {
        margin-right: 6px;
        font-size: 8px
    }
    .social {
        width: 130px;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        padding: 0px 20px;
        height: 150px;
    }
    .navbar li {
        padding: 0 0 0 20px;
    }
    .navbar h4 {
        line-height: 30px;
        font-size: 14px;
    }
    .logo {
        width: 70px;
    }
    .icon {
        width: 20px;
    }
    .nav {
        padding-left: 0;
    }
    .hero {
        margin-top: 150px;
        height: 500px;
    }
    .hero-text h1 {
        font-size: 40px;
    }
    .hero-text {
        margin: auto 20px;
    }
    .hero-text p {
        width: 80%;
    }
    .spotlight {
        padding: 30px 20px 20px 20px;
    }
    .spotlight-text {
        width: 90%;
    }
    .spot-img {
        width: 90%;
        height: 250px;
    }
    .new-releases {
        justify-content: flex-start
    }
    .new-releases-inner {
        width: 100%;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 60px;
        padding-left: 20px;
    }
    .new-releases-inner h2 {
        font-size: 30px;
    }
    .carousel-cell {
        width: 300px;
        height: 360px;
    }
    .carousel-cell h3 {
        font-size: 20px;
    }
    .carousel-cell h4,p {
        font-size: 14px;
    }
    .carousel-img img{
        width: 60px;
    }
    .carousel-text {
        padding: 10px;
    }
    .carousel-controller {
        height: 80px;
        padding-left: 100px;
    }
    .button {
        margin: 0 20px 30px 20px;
    }
    .form-img {
        width: 0;
    }
    .form-text {
        width: 100%;
    }
}